body {
 color: rgb(250,215,77);
 background-color: rgb(0,0,0);
 perspective: 200px;
}

h1 {
 text-align: center;
}

h2 {
 text-align: center;
 text-transform: uppercase;
 font-size: 200%;
}

p {
 text-align: justify;
}

.crawltext {
 font-family: 'Roboto', sans-serif;
 transform: rotateX(30deg);
 animation: animateCrawl 20s ease-in;
}

#partthree {
}

@keyframes animateCrawl {
 0% { transform: rotateX(30deg) translateY(400px); }
 100% { transform: roteateX(30deg) translateY(-300px); }
}
